In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Social_Network_ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset.drop("User ID",axis=1)

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [7]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
independent=dataset[["Age","EstimatedSalary","Gender_Male"]]
dependent=dataset[["Purchased"]]

In [9]:
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [10]:
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [11]:
independent.shape

(400, 3)

In [12]:
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [13]:
#split training and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test=train_test_split(independent, dependent, test_size=1/3, random_state=0)

In [17]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(x_train,y_train)

C:\Users\acer\AppData\Local\Temp\ipykernel_11360\4228702713.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier()

In [27]:
from sklearn.model_selection import GridSearchCV
param_grid={'n_estimators':[10,50,100,500,1000],'criterion':['gini','entropy','log_loss'],'max_features':['sqrt','log2']}
grid=GridSearchCV(RandomForestClassifier(), param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 50, 100, 500, 1000]},
             verbose=3)

In [30]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

In [31]:

y_pred=classifier.predict(x_test)

In [32]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)

In [33]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [34]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.92      0.93        85
           1       0.87      0.92      0.89        49

    accuracy                           0.92       134
   macro avg       0.91      0.92      0.91       134
weighted avg       0.92      0.92      0.92       134

In [35]:
print("Theconfusion_matrix value for best parameter {}:".format(grid.best_params_))

Theconfusion_matrix value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 1000}:

In [36]:
table=pd.DataFrame.from_dict(re)

In [37]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.031784,0.001642,0.005845,0.000080,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.833333,0.867925,0.830189,0.924528,0.924528,0.876101,0.041700,27
1,0.119393,0.009581,0.008695,0.002271,gini,sqrt,50,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.814815,0.886792,0.830189,0.905660,0.943396,0.876171,0.047709,23
2,0.188692,0.019559,0.013668,0.001786,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.814815,0.867925,0.830189,0.924528,0.943396,0.876171,0.050606,23
3,0.819509,0.008794,0.050339,0.002066,gini,sqrt,500,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.833333,0.886792,0.849057,0.924528,0.943396,0.887421,0.042209,10
4,1.613766,0.025147,0.093747,0.013978,gini,sqrt,1000,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.833333,0.886792,0.849057,0.924528,0.943396,0.887421,0.042209,10
5,0.023327,0.002023,0.003576,0.000465,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.851852,0.867925,0.830189,0.867925,0.962264,0.876031,0.045285,28
6,0.090938,0.008005,0.008544,0.004480,gini,log2,50,"{'criterion': 'gini', 'max_features': 'log2', ...",0.833333,0.886792,0.849057,0.924528,0.943396,0.887421,0.042209,10
7,0.165377,0.007498,0.012499,0.006249,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.833333,0.886792,0.830189,0.924528,0.962264,0.887421,0.051342,10
8,0.756860,0.012637,0.043750,0.006251,gini,log2,500,"{'criterion': 'gini', 'max_features': 'log2', ...",0.833333,0.905660,0.849057,0.924528,0.943396,0.891195,0.042823,3
9,1.569256,0.021043,0.081247,0.011692,gini,log2,1000,"{'criterion': 'gini', 'max_features': 'log2', ...",0.833333,0.886792,0.849057,0.924528,0.962264,0.891195,0.047550,3
10,0.021877,0.007655,0.000000,0.000000,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.886792,0.849057,0.905660,0.924528,0.879874,0.034125,20
11,0.084378,0.007654,0.009374,0.007654,entropy,sqrt,50,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.851852,0.867925,0.830189,0.924528,0.962264,0.887352,0.048784,17
12,0.165625,0.007653,0.009374,0.007654,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.867925,0.849057,0.924528,0.962264,0.887421,0.048489,10
13,0.828471,0.086744,0.068746,0.027242,entropy,sqrt,500,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.905660,0.830189,0.924528,0.943396,0.887421,0.046998,10
14,2.351525,0.057478,0.140717,0.017112,entropy,sqrt,1000,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.905660,0.849057,0.924528,0.962264,0.894969,0.047799,1
15,0.053213,0.027322,0.000000,0.000000,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.814815,0.886792,0.830189,0.943396,0.962264,0.887491,0.058792,9
16,0.171960,0.026247,0.024999,0.015934,entropy,log2,50,"{'criterion': 'entropy', 'max_features': 'log2...",0.833333,0.867925,0.830189,0.924528,0.943396,0.879874,0.046490,20
17,0.315963,0.030220,0.012501,0.006251,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.814815,0.867925,0.830189,0.924528,0.943396,0.876171,0.050606,23
18,1.401254,0.071670,0.093834,0.000171,entropy,log2,500,"{'criterion': 'entropy', 'max_features': 'log2...",0.814815,0.867925,0.830189,0.924528,0.962264,0.879944,0.055904,19
19,2.403304,0.156320,0.148981,0.022454,entropy,log2,1000,"{'criterion': 'entropy', 'max_features': 'log2...",0.833333,0.886792,0.849057,0.924528,0.962264,0.891195,0.047550,3
20,0.065707,0.006213,0.000000,0.000000,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.851852,0.849057,0.867925,0.886792,0.905660,0.872257,0.021450,30
21,0.165798,0.020991,0.003125,0.006250,log_loss,sqrt,50,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.833333,0.849057,0.830189,0.924528,0.943396,0.876101,0.048046,26
22,0.231416,0.018108,0.015630,0.009888,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.833333,0.886792,0.849057,0.924528,0.962264,0.891195,0.047550,3
23,1.310230,0.159771,0.100086,0.015985,log_loss,sqrt,500,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.833333,0.886792,0.849057,0.924528,0.943396,0.887421,0.042209,10
24,2.517068,0.056679,0.140625,0.034232,log_loss,sqrt,1000,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.833333,0.886792,0.849057,0.924528,0.962264,0.891195,0.047550,3
25,0.068835,0.012671,0.006251,0.012503,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.833333,0.867925,0.830189,0.905660,0.924528,0.872327,0.037820,29
26,0.253211,0.178489,0.009376,0.007655,log_loss,log2,50,"{'criterion': 'log_loss', 'max_features': 'log...",0.833333,0.849057,0.849057,0.924528,0.943396,0.879874,0.044932,20
27,0.243998,0.043551,0.012504,0.006252,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.851852,0.905660,0.830189,0.924528,0.962264,0.894899,0.048109,2
28,1.415712,0.156585,0.084374,0.007655,log_loss,log2,500,"{'criterion': 'log_loss', 'max_features': 'log...",0.833333,0.867925,0.849057,0.924528,0.943396,0.883648,0.042933,18
29,2.225784,0.231367,0.096876,0.015311,log_loss,log2,1000,"{'criterion': 'log_loss', 'max_features': 'log...",0.833333,0.905660,0.830189,0.924528,0.962264,0.891195,0.051848,3

In [38]:
age_input=float(input("Age:"))
salary_input=float(input("Estimated_Salar:"))
gender_input=float(input("Gender_Male:"))

Age:35
Estimated_Salar:20000
Gender_Male:1

In [40]:
Future_Prediction=grid.predict([[age_input,salary_input,gender_input]])#→change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[0]

C:\Users\acer\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(